<h1>Calculator</h1>
<%= form_tag controller: 'calculator', action: 'create', method: 'post' do %>
  <%= label_tag  :operation, 'Enter operation'%>
  <%= text_field_tag :operation %>
  <%= submit_tag 'Calculate' %>
<% end %>
<% if @operation && @result %>
  <p><%= @operation %></p>
  <p><%= @result %></p>
<% end %>
